<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-recipes *ngIf="loadedFeature=='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature=='shoppingList'"></app-shopping-list>

    </div>
  </div>
</div>











<div style="width: 200px; height: 300px;"></div>
<hr>

<app-server></app-server>

<div class="card">
  <h3>DataBinding</h3>
  <div class="card-body row">


    <div class="card text-white bg-secondary m-3 col-sm-3 ">
      <div class="card-header">From ts to html</div>
      <div class="card-body">
        <p class="card-text">
          <li>String Interpolation</li>
          <li>Property Binding</li>
        </p>
      </div>
    </div>

    <div class="card text-white bg-primary m-3 col-sm-3 ">
      <div class="card-header">From html to ts</div>
      <div class="card-body">
        <p class="card-text">
          <li>Event Binding</li>
        </p>
      </div>
    </div>

    <div class="card text-white bg-info m-3 col-sm-3 ">
      <div class="card-header">From html to ts</div>
      <div class="card-body">
        <p class="card-text">
          <li>Two way Binding</li>
        </p>
      </div>
    </div>


  </div>
</div>

<div class="row m-3">
  <div class="card text-white bg-secondary m-3 col-sm-3 ">
    <div class="card-header">From ts to html</div>
    <div class="card-body">
      <p class="card-text">
        <li>Property Binding</li>
        <button class="btn btn-danger" [disabled]="disableThisButton">Disabled by TS file variable</button>
      </p>
    </div>
  </div>
  <div class="card text-white bg-secondary m-3 col-sm-3 ">
    <div class="card-header">From ts to html</div>
    <div class="card-body">
      <div class="card-text">
        <li>Interpolation</li>
        <h4 class="fst-italic">{{myInterPolation}}</h4>
      </div>
    </div>
  </div>

</div>
<div class="row m-3">
  <div class="card text-white bg-primary m-4 col-sm-3 ">
    <div class="card-header">From html to ts</div>
    <div class="card-body">
      <p class="card-text">
        <li>Event Binding</li>
        <button class="btn btn-danger" (click)="myBtnClicked()">Event Binded button</button>
      </p>
    </div>
  </div>
  <div class="card text-white bg-primary m-4 col-sm-3 ">
    <div class="card-header">EXAMPLE: passing value emitted by event to TS file</div>
    <div class="card-body">
      <p class="card-text">
        <li>Enter Name :</li>
        <input type="text" class="form-control" (input)="EnteredValue($event)">
        <li>evenBindedName : {{evenBindedName}}</li>
      </p>
    </div>
  </div>
</div>


<div class="card text-white bg-info m-4 col-sm-3 ">
  <div class="card-header">From html to ts</div>
  <div class="card-body">
    <p class="card-text">
      <li>Two way Binding</li>
      <li>Enter Something</li>
      <input type="text" class="form-control" [(ngModel)]="twoWayBinded">
      <li>twoWayBinded : {{twoWayBinded}}</li>
    </p>
  </div>
</div>

<hr>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">Directive</div>
  <div class="card-body">
    <h5 class="card-title">Types: </h5>
    <div class="d-flex">
      <p class="card-text">1. Components : Its too a directives, just, with a template. This type of directive is the
        most common
        directive
        type.directives with a template. This type of directive is the most common directive type.
      </p>
      <p class="vr m-2"></p>
      <p class="card-text">2. Attribute directives—directives that change the appearance or behavior of an element,
        component, or another directive.
      </p>
      <p class="vr m-2"></p>
      <p class="card-text">3. Structural directives—directives that change the DOM layout by adding and removing DOM
        elements.
      </p>
    </div>

  </div>
</div>

<hr>

<h2 class="m-3"> Components & Databinding Deep Dive : </h2>
<div class="row">

  <div class="col-md-7">
    <app-cockpit (sf)="myserversaved($event)" (bf)="myblueprintsaved($event)">
      <i #locref [appBasicHighlight]="'black'" [updateToColor]="'pink'">
        This is the Form for adding Cockpits</i>
    </app-cockpit>
  </div>
  <div class="vr"></div>
  <div class="col-md-3">
    <app-cockpit-display *ngFor="let cockpit of cockpitArr" [childPit]="cockpit">

    </app-cockpit-display>
  </div>
</div>

<hr>
<hr>
<h4>Routing</h4>
<hr>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" [routerLink]="'home'" [routerLinkActive]="'activeLink'"
      [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/companies'" [routerLinkActive]="'activeLink'"
      [routerLinkActiveOptions]="{exact:true}">Companies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/users'" [routerLinkActive]="'activeLink'"
      [routerLinkActiveOptions]="{exact:true}">Users</a>
  </li>
</ul>

<router-outlet></router-outlet>

<hr>
<hr>
<h4>Template Driven Forms</h4>
<hr>

<form class="col-md-5 m-3" (ngSubmit)="mySubmit(myform)" #myform="ngForm">
  <div class="m-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="myMail" ngModel email class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="m-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="myPassword" ngModel class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary " [disabled]="myform.invalid">Submit</button>
</form>

<hr>
<hr>
<h4>Reactive Forms</h4>
<hr>

<form class="col-md-5 m-3">
  <div class="m-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="m-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary ">Submit</button>
</form>