<app-server></app-server>

<div class="card">
  <h3>DataBinding</h3>
  <div class="card-body row">


    <div class="card text-white bg-secondary m-3 col-sm-3 ">
      <div class="card-header">From ts to html</div>
      <div class="card-body">
        <p class="card-text">
          <li>String Interpolation</li>
          <li>Property Binding</li>
        </p>
      </div>
    </div>

    <div class="card text-white bg-primary m-3 col-sm-3 ">
      <div class="card-header">From html to ts</div>
      <div class="card-body">
        <p class="card-text">
          <li>Event Binding</li>
        </p>
      </div>
    </div>

    <div class="card text-white bg-info m-3 col-sm-3 ">
      <div class="card-header">From html to ts</div>
      <div class="card-body">
        <p class="card-text">
          <li>Two way Binding</li>
        </p>
      </div>
    </div>


  </div>
</div>

<div class="row m-3">
  <div class="card text-white bg-secondary m-3 col-sm-3 ">
    <div class="card-header">From ts to html</div>
    <div class="card-body">
      <p class="card-text">
        <li>Property Binding</li>
        <button class="btn btn-danger" [disabled]="disableThisButton">Disabled by TS file variable</button>
      </p>
    </div>
  </div>
  <div class="card text-white bg-secondary m-3 col-sm-3 ">
    <div class="card-header">From ts to html</div>
    <div class="card-body">
      <div class="card-text">
        <li>Interpolation</li>
        <h4 class="fst-italic">{{myInterPolation}}</h4>
      </div>
    </div>
  </div>

</div>
<div class="row m-3">
  <div class="card text-white bg-primary m-4 col-sm-3 ">
    <div class="card-header">From html to ts</div>
    <div class="card-body">
      <p class="card-text">
        <li>Event Binding</li>
        <button class="btn btn-danger" (click)="myBtnClicked()">Event Binded button</button>
      </p>
    </div>
  </div>
  <div class="card text-white bg-primary m-4 col-sm-3 ">
    <div class="card-header">EXAMPLE: passing value emitted by event to TS file</div>
    <div class="card-body">
      <p class="card-text">
        <li>Enter Name :</li>
        <input type="text" class="form-control" (input)="EnteredValue($event)">
        <li>evenBindedName : {{evenBindedName}}</li>
      </p>
    </div>
  </div>
</div>


<div class="card text-white bg-info m-4 col-sm-3 ">
  <div class="card-header">From html to ts</div>
  <div class="card-body">
    <p class="card-text">
      <li>Two way Binding</li>
      <li>Enter Something</li>
      <input type="text" class="form-control" [(ngModel)]="twoWayBinded">
      <li>twoWayBinded : {{twoWayBinded}}</li>
    </p>
  </div>
</div>